.formc {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    background-color:var(--bgcolor);
}
form{
    background-color: black;
    margin: 1rem;
    padding: 2rem;
    color: var(--hgcolor);
}